.contact {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactSection {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.contactHeader {
  font-size: 36px;
}

.section1 {
  display: flex;
}

.formSection {
  margin: 10px;
}

.sendButton {
  background-color: #546fff;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.sendButtonIcon {
  margin-left: 10px;
  font-size: 20px;
}
