.contact {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactSection {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.section1 {
  display: flex;
}

.formSection {
  margin: 10px;
}

.contactHeader {
  font-size: 46px;
  display: flex;
  justify-content: flex-end;
  margin-right: 355px;
}
