.mainContainer {
  display: relative;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.headerText {
  position: relative;
  margin-top: 90px;
  font-size: 60px;
  font-weight: 600;
  line-height: 100px;
  margin-left: 20px;
  letter-spacing: 0px;
}

.headerText1 {
  letter-spacing: 2px;
  font-size: 70px;
  color: #fff;
}

.headerText2 {
  color: #000;
}

.rectangle {
  position: absolute;
  width: 230px;
  height: 250px;
  background-color: #2b5557;
  margin-top: none;
}

.navbarStyle {
  position: relative;
}

.ctaButton {
  background-color: #2b5557;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 13px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.ctaButton:hover {
  cursor: pointer;
  background-color: #102f31;
}

.socialLinks {
  margin: 20px;
}

.socialLink {
  background-color: #2b5557;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
