#Portfolio {
  display: flex;
  justify-content: center;
}
.portfolioCardSection {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.portfolioCard {
  width: 600px;
  height: 1000px;
  border: 1px solid #d9d9d9;
  margin: 20px;
}

.portfolioCardImage {
  height: 150px;
  width: auto;
}
