.portfolioHeader {
  font-size: 46px;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.portfolioCardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.portfolioCards {
  display: flex;
}

.portfolioCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 30px;
  border: 1px solid #d9d9d9;
  box-shadow: 5px 7px 20px 0px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.portfolioCardDesc {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.portfolioButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolioButton {
  background-color: #2b5557;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-right: 20px;
  margin-top: 20px;
}

.portfolioButton:hover {
  cursor: pointer;
  background-color: #102f31;
}

.arrowIcon {
  font-size: 10px !important;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  border: 1 px solid;
  background-color: #102f31;
}

.arrowIcon:hover {
  cursor: pointer;
}
